header {
  background-color: #c22626;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #c22626;
  color: #fff;
}

#projects img {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin: 0 auto;
}

#about img {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin: 0 auto;
}
